body { 
    font-family: Arial, sans-serif; 
}
header, footer { 
    background: #f1f1f1; padding: 1em;
}
form { 
    margin-top: 2em; 
}
#status { 
    margin-top: 1em; 
    color: navy; 
}
#result ul { 
    list-style-type: none; 
    padding: 0; 
}
#result li { 
    margin-bottom: 8px; 
}
